body{
    font-family: Inter;
    margin: 0;
    padding: 0;
}

/* Organizacion de estilos:
    1. Home Page
        -Gradiente
        -Botones
    2. Header
        -Logo 
        -Colores
    3. Footer
    4. Info page
        -Imagenes
        -Cajas */



/* 1. home page */
.form_style{
    background: linear-gradient(136deg, rgba(156, 236, 251, 0.50) 0%, rgba(101, 199, 247, 0.50) 34.69%, rgba(0, 82, 212, 0.50) 100%);
    border-radius: 15px;
    width: 300px;
    height: 450px;
    
}

.form_style h2{
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

.inputs{
    border: none;
    border-radius: 5px;
    width: 85%;
    height: 40px;
}

/* 2. Estilos de NavBar*/
.logo{
    background-color: #BDE0FE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.boton2{
    margin-top: 17px;
    margin-right: 5px;
    padding: 3px 10px;
    border: 0px;
    border-radius: 20px;
    color: white;
    background-color: #608DE6;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    transition: 300ms;
}

.boton_inicio{
    padding: 10px 15px;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: #608DE6;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    transition: 300ms;
}

.boton_cancelar{
    width: 130px;
    border: 0px;
    border-radius: 15px;
    color: white;
    padding: 2px 15px;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    transition: 300ms;
}

.boton2:hover{
    background-color: #4c7fe5;
    padding: 4px 11px;
    font-size: 19px;
}

.boton_inicio:hover{
    background-color: #4c7fe5;
    padding: 12px 17px;
    font-size: 19px;
}

.logo a{
    display: flex;
}

.logo a iconify-icon{
    padding: 12px;
}


/* 3. footer page */
footer{
    background-color: #BDE0FE;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: xx-small;
    display: flex;
    flex-direction: row-reverse;
}

footer div{
    padding: 12px;
}


/* 4. info page */
.total{
    font-size: 15px;
    font-weight: bold;
}

.restante{
    font-size: 15px;
}


.imagen{
    width: 100%;
    height: 140px;
    object-fit: cover;
}


.caja_texto{
    text-align: center;
    width: 100%;
    height: 70px;
    background-color: #608DE6;
}


.img_detail{
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* 5. 404 error page */
 
  #notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    padding: 0px 15px;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 150px;
    line-height: 150px;
    margin-bottom: 25px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 186px;
    font-weight: 900;
    margin: 0px;
    text-transform: uppercase;
    background: url('../staticfiles/text.png');
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
  }
  
  .notfound h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
  }
  
  .notfound p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
  
  .notfound a {
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border: none;
    background: #5c91fe;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 1px;
    margin-top: 15px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    opacity: 0.8;
  }
  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 110px;
      line-height: 110px;
    }
    .notfound .notfound-404 h1 {
      font-size: 120px;
    }
  }
  